# Byte-Compiled / Optimized / DLL Files
*.py[cod]

# Database Related
*.db
*.sqlite3
migrations/

# Docker Related
*.bak
.dockerignore

# Environment Variables
*.env

# Flask Specific
instance/

# Logs And Temporary Files
.DS_Store
*.log
*.tmp

# PostgreSQL
postgres/

# Python Related
__pycache__/
env/
venv/

# PyCharm IDE Specific
.idea/

# Unit Test/Coverage Reports
.htmlcov/
.nox/
.tox/
.pytest_cache/

# VSCode Specific
.vscode/
