# Byte-compiled / optimized / DLL files
*.py[cod]

# Database related
*.db
*.sqlite3
migrations/

# Docker related
*.bak
.dockerignore

# Environment variables
*.env

# Flask specific
instance/

# Logs and temporary files
.DS_Store
*.log
*.tmp

# PostgreSQL
postgres/

# Python related
__pycache__/
env/
venv/

# PyCharm IDE specific
.idea/

# Unit test / coverage reports
.htmlcov/
.nox/
.tox/
.pytest_cache/

# VSCode specific
.vscode/
